{{! TODO - just grabbing data at the minute. }}
<p>Enrolled courses: {{{enrolledcourses}}}</p>
<p>In progress courses: {{{inprogresscourses}}}</p>
<p>Completed courses: {{{completedcourses}}}</p>
<p>Badges: {{{badges}}}</p>
<p>Certificates: {{{certificates}}}</p>