{{! TODO - Improve and style }}
<div id="block-user-course-statistics" class="flex-container d-flex justify-content-between flexible-wrap">
    {{#showenrolledcourses}}
    <div class="flex-item course-enrolments">
        <div>
            <span class="h5">{{#str}}enrolments, block_usercoursestatistics{{/str}}</span>
            <p><span id="enrolled-courses-count"></span> {{#str}}active, core{{/str}}</p>
        </div>
    </div>
    {{/showenrolledcourses}}

    {{#showcompletedcourses}}
    <div class="flex-item course-completions">
        <div>
            <span class="h5">{{#str}}completions, block_usercoursestatistics{{/str}}</span>
            <p><span id="completed-courses-count"></span>  {{#str}}completedcourses, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showcompletedcourses}}

    {{#showinprogresscourses}}
    <div class="flex-item course-progress">
        <div>
            <span class="h5">{{#str}}inprogress, block_usercoursestatistics{{/str}}</span>
            <p><span id="inprogress-courses-count"></span> {{#str}}inprogresscourses, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showinprogresscourses}}

    {{#showbadges}}
    <div class="flex-item badges-awarded">
        <div>
            <span class="h5">{{#str}}badges, block_usercoursestatistics{{/str}}</span>
            <p><span id="badges-count"></span> {{#str}}awarded, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showbadges}}

    {{#showcertificates}}
    <div class="flex-item certificates-awarded">
        <div>
            <span class="h5">{{#str}}certificates, block_usercoursestatistics{{/str}}</span>
            <p><span id="certificates-count"></span> {{#str}}awarded, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showcertificates}}

    {{#showlearningplans}}
    <div class="flex-item learning-plans">
        <div>
            <span class="h5">Learning Plans Allocated</span>
            <p><span id="learning-plans"></span> Allocated</p>
        </div>
    </div>
    {{/showlearningplans}}

    {{#showcompletedplans}}
    <div class="flex-item completed-learning-plans">
        <div>
            <span class="h5">Learning Plans Completed</span>
            <p><span id="completed-learning-plans"></span> Completed</p>
        </div>
    </div>
    {{/showcompletedplans}}
    <div class="flex-item active-time">
        <div>
            <span class="h5">Time logged in (current session)</span>
            <p><span id="active-time"></span></p>
        </div>
    </div>
    <div class="flex-item last-course-completed">
        <div>
            <span class="h5">Last course marked as complete</span>
            <p><span id="last-course-completed"></span></p>
        </div>
    </div>
</div>
{{#js}}
    require(['block_usercoursestatistics/get_stats'], (userCourseStats) => userCourseStats.init());

    require(['block_usercoursestatistics/timer'], (Timer) => Timer.init());
{{/js}}