{{! TODO - Improve and style }}
<div id="block-user-course-statistics" class="flex-container d-flex justify-content-between flexible-wrap">
    {{#showenrolledcourses}}
    <div class="flex-item course-enrolments">
        <div>
            <span class="h5">{{#str}}enrolments, block_usercoursestatistics{{/str}}</span>
            <p><span id="enrolled-courses-count"></span> {{#str}}active, core{{/str}}</p>
        </div>
    </div>
    {{/showenrolledcourses}}

    {{#showcompletedcourses}}
    <div class="flex-item course-completions">
        <div>
            <span class="h5">{{#str}}completions, block_usercoursestatistics{{/str}}</span>
            <p><span id="completed-courses-count"></span>  {{#str}}completedcourses, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showcompletedcourses}}

    {{#showinprogresscourses}}
    <div class="flex-item course-progress">
        <div>
            <span class="h5">{{#str}}inprogress, block_usercoursestatistics{{/str}}</span>
            <p><span id="inprogress-courses-count"></span> {{#str}}inprogresscourses, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showinprogresscourses}}

    {{#showbadges}}
    <div class="flex-item badges-awarded">
        <div>
            <span class="h5">{{#str}}badges, block_usercoursestatistics{{/str}}</span>
            <p><span id="badges-count"></span> {{#str}}awarded, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showbadges}}

    {{#showcertificates}}
    <div class="flex-item certificates-awarded">
        <div>
            <span class="h5">{{#str}}certificates, block_usercoursestatistics{{/str}}</span>
            <p><span id="certificates-count"></span> {{#str}}awarded, block_usercoursestatistics{{/str}}</p>
        </div>
    </div>
    {{/showcertificates}}
</div>
{{#js}}
    require(['block_usercoursestatistics/get_stats'], (userCourseStats) => userCourseStats.init());
{{/js}}